@font-face {
    font-family: "EzerEuro";
    src: url("../fonts/EzerEuro-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "EzerEuro";
    src: url("../fonts/EzerEuro-Light.otf") format("opentype");
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "NotoSansArabic";
    src: url("../fonts/NotoSansArabic.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

body {
    font-family: 'EzerEuro';
    font-weight: bold;
}

.description {
    position: absolute;
    top: 12vh;
    right: 10%;
    max-width: 33%;
    text-align: start;
    z-index: 3;
  }
  
.description-title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: white;
    line-height: 6vh;
  }
  
.description-subtitle {
    font-size: 1.25rem;
    margin: 0;
    opacity: 0.9;
    color: white;
  }

.padding-lr {
    padding-left: 7.4%;
    padding-right: 7.4%;
}

.blue {
    color: blue;
}
h1 {
    color: green;
}
html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    background-image: url("../svg/bg.svg");
    background-repeat: no-repeat;
    background-size: cover;    /* scale to cover entire viewport */
    background-position: center;
    margin: 0;
    height: 100%;
  }
  .page-content {
    min-height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

.white-block {
    background-image: url("../svg/white\ block.svg");
    background-repeat: no-repeat;
    background-size: contain;       /* or specific px */
    background-position: center;
    background-color: transparent;
    border: none;
    padding: 1rem 2rem;             /* text inset */
    cursor: pointer;
    width: 100%;
    height: 100%;
  }

  .top-part {
    position: relative;
  }
  
  .rocket {
    position: absolute;
    left: 19%;
    bottom: -94px;
    height: 100vmin;              /* smaller so it fits */
    z-index: 2;
  }
  
  /* Put the choices in the same coordinate system */
  .rocket-choices {
    position: absolute;
    bottom: -1vmin;              /* above bottom of the screen */
    left: 13.5vh;
    width: 20vmin;
    height: 56vmin;
  
    display: flex;
    flex-direction: column;
    gap: 2vmin;
    z-index: 3;
  }
.choice-grid-wrapper {
    display: flex;
    align-items: flex-start;
    padding-bottom: 5.75vh;
    padding-top: 7.3vh;
    padding-left: 6vw;
    padding-right: 6vw;
    z-index: 3;
  }

.choice-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6.3vw;  /* spacing between items */
    row-gap: 1.9vh;  /* or use gap for both */
    width: 100%;
    height: 100%;
}


.halo {
    position: absolute;
    left: 23%;
    bottom: 1.5vh;
    height: 26vh;
    z-index: 1;
}

.purple-block {
    background-image: url("../svg/purple\ block.svg");
    background-repeat: no-repeat;
    background-size: contain;       /* or specific px */
    background-position: center;
    background-color: transparent;
    border: none;
    padding: 1rem 2rem;             /* text inset */
    cursor: pointer;
    width: 100%;
    height: 100%;
}
